svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
    font: 10px sans-serif;
    float:left;

}

#buttons{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: right;
    padding-top: 30px;
    padding-right: 80px;
    text-decoration: none;
}
#marketButton{
   z-index: 1;

}
#sizeButton{
    margin-top: 10px;
    z-index: 2;

}
label {
    padding-right:10px;
}

input {
    margin: 0 7px;
}


